name: tests
on: push
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Dependencies
        run: yarn
      - name: Run Tests
        run: |
          yarn build

          # Detects if you have changes to src/ that haven't been compiled into dist/
          echo "Checking for uncommitted dist/ changes. If this fails, try running 'yarn watch'."
          git status
          exit $(git status --porcelain=v1 2>/dev/null | wc -l)
